<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruhi.bot.mapper.PixivMapper">

    <sql id="baseCol">
        t.id,t.pid,t.title,t.width,t.height,t.`view`,t.bookmarks,t.img_url,t.img_p,t.uid,t.author,t.is_r18,t.tags
    </sql>

    <select id="roundByTag" resultType="com.haruhi.bot.entity.Pixiv">
        SELECT <include refid="baseCol"/>
        FROM `t_pixiv` AS t JOIN (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM `t_pixiv`)-(SELECT MIN(id) FROM `t_pixiv`))+(SELECT MIN(id) FROM `t_pixiv`)) AS id) AS t2
        WHERE t.id >= t2.id
        <if test="isR18 != null">
            AND t.is_r18 = #{isR18}
        </if>
        <if test="tag != null and tag != ''">
            AND t.tags LIKE CONCAT('%',CONCAT(#{tag},'%'))
        </if>
        ORDER BY t.id LIMIT #{num}
    </select>
</mapper>